.elevation-result-container {
  background-image: linear-gradient(45deg, #ff512fbf 0%, #F09819 50%, #ff512f78 153%);
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}
