<div class="main-container">
  <button class="custom-button"
          [disabled]="getElevationDataLoading$ | async"
          (click)="requestData()">Request elevation data</button>
  <div *ngIf="(elevationData$ | async) && (getElevationDataLoading$ | async) === null">
    <app-elevation-chart (isChartReady)="isChartReady = $event"></app-elevation-chart>
    <app-elevation-result title="Average elevation"
                          [elevationValue$]="averageElevation$"></app-elevation-result>
    <app-elevation-result title="Max elevation"
                          [elevationValue$]="maxElevation$"></app-elevation-result>
  </div>
</div>


<div class="loader-container" *ngIf="getElevationDataLoading$ | async">
<!--<div class="loader-container">-->
  <div class="loader"></div>
</div>
